.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #840b0b;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: rgb(238, 234, 234);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: white;
  color: rgb(22, 21, 21);
  line-height: 1.4;
  font-family: monospace;
  font-size: calc(10px + 1vmin);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: rgb(238, 234, 234);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
  padding: 0px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 1.4rem;
  font-size: 1rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.delayed {
  height: 100vh;
  width: 40vw;
  overflow: scroll;
  background-color: #1c1b1b;
  color: rgb(238, 234, 234);
}

.map {
  height: 100vh;
  width: 60vw;
}

.delayed-trains {
  display: flex;
  flex-direction: column;
}

.delayed-trains>div {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  padding: 0.2rem 0.8rem;
  align-items: center;
  cursor: pointer;
}

.delayed-trains>div:nth-of-type(2n) {
  background-color: #d4c4c4;
}

.delay {
  color: rgb(238, 234, 234);
}

.train-number {
  font-size: 2rem;
  font-weight: bold;
  width: 30%;
}

.current-station {
  width: 30%;
}

.ticket-container {
  padding: 2rem;
  background-color: #1c1b1b;
  color: rgb(238, 234, 234);
  overflow: scroll;
}

.train-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.train-item:hover {
  background-color: #c6dafbbd;
  color:#000000;
}

.train-item .train-number {
  font-weight: bold;
}

.train-item .current-station {
  margin-top: 5px;
}

.train-item .current-station div {
  margin-bottom: 5px;
}

.train-item .delay {
  font-style: italic;
}

.ticketView {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.table-container {
  width: 100%;
  overflow: auto;
  padding: 20px; /* Justera enligt behov */
}

.train-table {
  width: 100%;
  border-collapse: collapse;
}


@media (max-width: 768px) {

  .container {
    flex-direction: column;
    width: 100%;
  }

  .delayed {
    width: 100%;
  }

  .map {
    width: 100%;
  }
}

.DelayMap {
  text-align: center;
}

.DelayMap-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .DelayMap-logo {
    animation: DelayMap-logo-spin infinite 20s linear;
  }
}

.DelayMap-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DelayMap-link {
  color: #61dafb;
}

@keyframes DelayMap-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock {
  text-align: right;
  width: fit-content;
}

.currentTime {
  font-size: calc(18px + 1vmin);
  margin: 10px 10px;
  text-align: right;
}

.link {
  text-decoration: none;
}

.left-column {
  float: left;
  width: 40%; /* Adjust as needed */
}

.right-column {
  float: left;
  width: 60%; /* Adjust as needed */
}

select, option {
  width: 80%;
  z-index: 1;
  height: 25px;
}

input[type=submit] {
  background-color: #54605b;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.back {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.leaflet-overlay-pane svg {
  -webkit-user-select: text; /* Safari fallback only */
  -webkit-user-select: all; /* Chrome/Safari */
  -moz-user-select: all; /* Firefox */
  -ms-user-select: all; /* IE10+ */
  user-select: all;
}
